body {
  margin: 0;
  margin-top: 60px;
  background: white;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 500px;
  min-width: 320px;
}

#root > main > button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(68, 118, 255);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  margin: 0 20px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav{
  position: absolute;
  top: 0;
  width: max-content;
  display: flex;
  left: 0;
  right: 0;
  width: 100vw;
  flex-direction: row;  
}

main > ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  overflow: auto;
  min-width: 300px;
  max-width: 600px;
}

main > ul > li {
  background-color: rgb(241, 241, 241);
  padding: 8px;
  margin: 10px 5px;
  box-shadow: #a2a2a28b 2px 4px 2px;
  border-radius: 8px;
}


a {
  font-weight: 800;
  text-decoration: none;
}